* {
    margin: 0;
}
/*This is the slideshow css*/
.Slideshow{
    display: flex;
    align-items: center;
    gap: 10px;
}
.scrollbtn{
    border-radius: 25px;
    padding: 5px;
    font-size: 20px;
}
#imageslide{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    width:250px;
    height:150px;
    
}
#imageslideBefore, #imageslideAfter{
    width:150px;
    height:100px;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(226, 223, 223);
}
figure{
    padding: 10px;
    border-radius: 25px;
    background-color: rgb(226, 223, 223);
    
}
figcaption{
    margin-top: 10px;
    color: rgb(0, 0, 0);
    max-width: 250px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}